{% extends "index.html" %}

{% load static %}

{% block page_content %}

<form method="post" enctype="multipart/form-data">
    {% csrf_token %}
    <input type="file" name="myfile">
    <input type="number" name="n_labels" value="3" min="3" max="5">
    <select name="type_features" size="1">
        <option value="mfcc_12_and_chroma_and_amplitude" selected="selected">MFCC, Chroma and Amplitude</option>
        <option value="mfcc_12_and_chroma">MFCC and Chroma</option>
        <option value="mfcc_12">MFCC</option>
    </select>
    <button type="submit">Prédire</button>
</form>


{% if predictions %}
    <figure>
        <figcaption>Results for {{filename}} </figcaption>
        <audio
            controls
            src="{% static 'audio/'%}{{filename}} ">
                Your browser does not support the
                <code>audio</code> element.
        </audio>
    </figure>

    <p>
    {% for key, value in predictions.items %}
        <b>{{key}} </b> : {{value}} &nbsp;
    {% endfor %}
    </p>
{% endif %}

{% if radar_plot %}
    <figure>
        <figcaption>Results for {{filename}} </figcaption>
        <audio
            controls
            src="{% static 'audio/'%}{{filename}} ">
                Your browser does not support the
                <code>audio</code> element.
        </audio>
    </figure>

    <div>
        <img src="data:image/png;base64,{{radar_plot}}" alt="There's an issue with the radar plot"
        height="300" width="1000"/>
    </div>
{% endif %}

    <!--form>
        <select name="label" size="1">
            <option value="0">Neutral</option>
            <option value="1">Positive</option>
            <option value="2">Inaudible</option>
            <option value="3">Sad</option>
            <option value="4">Angry</option>
        </select>
        <button type="submit">Labelliser</button>
    </form-->

{% if wave_plot %}
    <div class="container">
      <div class="row justify-content-start">
        <div class="col-6">
            <img src="data:image/png;base64,{{wave_plot}}" alt="There's an issue with the waveform plot"
            height="400" width="500"/>
        </div>
        <div class="col-6">
            <img src="data:image/png;base64,{{spec_plot}}" alt="There's an issue with the spectogram"
            height="400" width="500"/>
        </div>
      </div>
    </div>
{% endif %}

{% endblock %}